<?xml version="1.0"?>
<Rpc>
	<Providers>
		<Provider Name="order" Available="true" Weight="100">http://localhost:100/order</Provider>
		<Provider Name="order" Available="true" Weight="100">http://localhost:200/order</Provider>
		<Provider Name="order" Available="true" Weight="100">http://localhost:300/order</Provider>
	</Providers>
</Rpc>